@import 'project.css';

.row{
	height: inherit;
}

.demo{
	height: 400px;
}

a{
	color:white!important;
	
}

h1{
	font-size: 60px!important;
}
a:link {
    text-decoration:none!important;
    color:white!important;
}


.demoapp p{
	text-align: center;
	width: 50%;
	margin-left: 25%;

	font-size: 20px!important;
	border: 3px solid white;
}