<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/project.css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <div class="head">
            <h3>Project</h3>
            <p>Learn. Create.</p>
        </div>
        <p>Select GitHub Or GitLab:
            <select ng-model="selectedItem" ng-options="x.git for x in cars">
            </select>
        </p>
        <h1>{{selectedItem.git}}
            <img src={{selectedItem.logo}}>
        </h1>

        <div class="content">
            <div id="box" ng-repeat="y in selectedItem.body">
                <div id="inbox">
                    
                    <span><a target="_blank" href={{y.link}}>
                            <Strong>{{y.name}}</Strong>  
                    </a></span> 
                   
                    <p>Tech: {{y.type}}</p>
                    <p>Description: {{y.desp}}</p>
                </div>
            </div>
        </div>

        <div class="bot">
            <a href="index.html">
                <img src="img/home.svg">
            </a>
        </div>
    </div>

    <script src="main.js"></script>

</body>

</html>