<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/project.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
    <div class='top' ng-app="myApp" ng-controller="myCtrl">
        <div class="row head">


            <div class="col align-self-center">

                <h4>Learn. Create.</h4>
                <p>Select GitHub Or GitLab:
                    <select ng-model="selectedItem" ng-options="x.git for x in gits">
                    </select>
                </p>
            </div>

            <div class="col align-self-center">
                <h1>{{selectedItem.git}}
                    <img src={{selectedItem.logo}}>
                </h1>
            </div>
        </div>
        <div class="content" ng-repeat="y in selectedItem.body">
            <div class="row box">
                <div class="col align-self-center left">
                    <img src={{y.type}}>
                </div>
                <div class="col align-self-center">
                    <div class='inbox'>
                            <h3>{{y.name}}</h3>
                            <div class="underline"></div>
                            <p>{{y.desp}}</p>
                            <a href={{y.link}}>
                                <h6>More</h6>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bot">
            <div class="col align-self-center">
                    <a href="/" class="home-but">
                       <span class="material-icons">
                        home
                        </span>
                    </a>
            </div>
      
    </div>

    <script src="main.js"></script>

</body>

</html>